{% extends "base.html.twig" %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    {%  include '@App/Admin/navbar.html.twig' with {'homeTab':'', 'usersTab':'', 'commentTab':'active'} %}

    <h1 class="mx-auto"> Gestion des commentaires </h1>
    <table class="table table-striped">
        <tr>
            <th> Id </th>
            <th> Profile </th>
            <th> Auteur </th>
            <th> Texte </th>
            <th> Crée le </th>
            <th> Accepter </th>
            <th> Refuser </th>
        </tr>
    {% for comment in comments %}
        {% if not comment.validated %}
            <tr>
                <td>{{comment.id}}</td>
                <td>{{comment.profil.lastName}} {{comment.profil.firstName}}</td> 
                <td>{{comment.postedBy}}</td>
                <td>{{comment.text}}</td>
                <td>{{comment.createdAt | date("m/d/Y H:m:s", "Europe/Paris")}}</td>
                <td> <a href="/acceptComment/{{comment.id}}"><button type="button" class="btn btn-success"> Accepter </button></a> </td>
                <td> <a href="/denyComment/{{comment.id}}"><button type="button" class="btn btn-danger"> Refuser </button></a> </td>
            </tr>
        {%endif%}
    {% endfor %}
    </table>
{% endblock %}