{% extends "base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}
    {%  include '@App/Admin/navbar.html.twig' with {'homeTab':'active', 'usersTab':'', 'commentTab':''} %}
    <div class="row" style="margin: 0px;">
        <div class="col-lg-4 col-md-12 col-sm-12" style="margin-top: 15px;">
            {{ include('@App/Admin/users-container.html.twig') }}
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12" style="margin-top: 15px;">
            {{ include('@App/Admin/comment-container.html.twig') }}
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12" style="margin-top: 15px; height: 89vh !important;">
            {{ include('@App/Admin/badge-container.html.twig') }}
        </div>
    </div>
    <script>
        $(document).ready(function(){
            alertify.set('notifier','position', 'top-right');
        });

    </script>

{% endblock %}