
#profilPic {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

#Search-Result-list {
  background: rgb(224, 0, 224);
  background: linear-gradient(37deg, #660099 0%, #8161ff 100%);
  border-radius: 10px;
  min-height: 200px;
  padding: 5px;
  margin: 10px;
  color: white;
}

#text-search-result {
  padding: 10px;
}

#badges img {
  max-width: 5vw;
  min-width: 50px;
  height: auto;
}

#text {
  display: flex;
  justify-content: space-between;
}

#next {
  padding-top: 10px;
  padding-right: 20px;
}
