
.container {
  @apply min-h-screen flex items-center text-center mx-auto flex-col;
  background-color: #F6F6F6;
  max-width: 100%;
}
.return {
  float: left;
  width: 30px;
  margin-top: 26px;
  margin-left: 25px;
  color: white;
}
.logo {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  height: 3em;
}
