<template>
  <div>
    <div
      class="flex flex-row justify-center items-center mb-6"
      style="background:linear-gradient(#660099, #8161ff); width:100%; height: 5em;"
    >
      <nuxt-link :to="{name: 'index' }">
        <img
          src="~/assets/images/logo-white.png"
          class="logo__index"
        />
      </nuxt-link>
    </div>
    <search-bar
      @filterUpdate="filterChanges($event)"
      :badges="badges"
    />
    <carousel-users
      v-show="displayProfile.length == 0"
      :badges="badges"
      :profils="profils"
    />
    <profil-list
      v-show="displayProfile.length > 0"
      :profils="displayProfile"
      :badges="badges"
      :selected="selectedBadges"
    />

  </div>
</template>

<script>
import SearchBar from "@/components/SearchBar";
import CarouselUsers from "@/components/CarouselUsers";
import ProfilList from "@/components/ProfilList";

const getBadges = async function () {
  return import("~/assets/badges/data.json").then(values => {
    let badges = [];
    for (const b of values.default) {
      badges.push(b);
    }
    for (const b of badges) {
      ("");
      if (b.img.indexOf("/") != -1) {
        break;
      }
      b.img = require("~/assets/badges/" + b.img + ".png");
    }
    return badges;
  });
};

const getProfils = async function () {
  let promises = []
  for (let index = 1; index < 22; index++) {
    promises.push(import('~/assets/profils/' + index + '/data.json'))
  }
  return Promise.all(promises).then(values => {
    let profils = [];
    for (let p of values) {
      let profil = p.default;
      if (profil.contact.img.indexOf("/") == -1) {
        profil.contact.img = require("~/assets/profils/" +
          profil.id +
          "/images/profil.png");
      }

      profils.push(profil);
    }
    return profils;
  });
};

export default {
  components: {
    SearchBar,
    CarouselUsers,
    ProfilList
  },
  async asyncData ({ params }) {
    const profils = await getProfils();
    const badges = await getBadges();
    return { profils, badges };
  },
  data () {
    return {
      badges: [],
      profils: [],
      selectedBadges: []
    }
  },
  methods: {
    filterChanges (filters) {
      this.selectedBadges = filters
    }
  },
  computed: {
    displayProfile () {
      if (this.selectedBadges.length == 0) { return [] }
      let finalProfil = [];
      for (let p = 0; p < this.profils.length; p++) {
        let profil = this.profils[p];
        let profilScore = 0;
        for (let b = 0; b < profil.badges.length; b++) {
          if (this.selectedBadges.includes(profil.badges[b].id)) {
            profilScore++;
          }
        }
        profil.score = profilScore;
        if (profil.score > 0) {
          finalProfil.push(profil);
        }
      }
      finalProfil.sort(function (a, b) {
        return a.score - b.score;
      });
      finalProfil.reverse();
      return finalProfil;
    }
  }
};
</script>
