<template>
  <div class="container">
    <div style="background:linear-gradient(#660099, #8161ff); width:100vw; height: 5em;">
      <nuxt-link :to="{name: 'index' }">
        <i class="material-icons return">
          arrow_back
        </i>
      </nuxt-link>
      <nuxt-link :to="{name: 'index' }">
        <img
          src="~/assets/images/logo-white.png"
          class="logo"
        />
      </nuxt-link>
    </div>
    <div v-if="profil">
      <profil-header :profil="profil" />
      <carousel-badge
        :badges="getProfilBadges(profil.id)"
        class="mt-5"
      />
      <projects
        :items="profil.projects"
        class="mt-5"
      />
      <profil-video
        :profil="profil"
        class="mt-5"
      />
      <commentaire
        v-if="profil.comments"
        :comments="profil.comments"
        class="mt-5"
      />
      <contact
        :profil="profil"
        class="mt-5"
      />
      <social-network
        :social="profil.socials"
        class="mt-5"
      />
    </div>
  </div>
</template>

<script>
import ProfilHeader from "@/components/ProfilHeader";
import Projects from "@/components/Projects";
import Commentaire from "@/components/Commentaire";
import Contact from "@/components/Contact";
import CarouselBadge from "@/components/CarouselBadge";
import SocialNetwork from "@/components/SocialNetwork";
import ProfilVideo from "@/components/ProfilVideo";

export default {
  components: {
    ProfilHeader,
    CarouselBadge,
    Projects,
    Commentaire,
    Contact,
    SocialNetwork,
    ProfilVideo
  },
  async asyncData ({ $axios, params }) {
    try {
      let badges = await $axios.get(`https://fa247550.ngrok.io/adopteunmec/AdopteUnBack/web/app_dev.php/api/v1/badges`)
      let profil = await $axios.get(`https://fa247550.ngrok.io/adopteunmec/AdopteUnBack/web/app_dev.php/api/v1/profils/${(params.slug.split('-'))[0]}`)
      return {
        profil: profil.data.response,
        badges: badges.data.response
      }
    } catch (error) {
      console.log(error)
    }
  },
  methods: {
    getProfilBadges(profilId) {
      return this.badges.filter(badge => this.profil.badges.includes(badge.id))
    }
  }
};
</script>

<style lang="css" src="~/assets/css/Profil.css" scoped></style>
