<template>
  <div class="badge shadow-lg flex m-1 inline-block rounded-lg">
    <img
      class="badge-picture"
      :src="rsc.img"
    >
    <transition name="fadoverlay">
      <div
        v-if="deleteMode"
        class="badge-overlay rounded-lg"
      >
        <i
          @click="$emit('remove', rsc)"
          class="material-icons icon-close p-1"
        >delete_forever</i>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    rsc: {
      type: Object,
      default: () => {
        return {};
      }
    },
    deleteMode: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      modeDelete: false
    }
  }

}
</script>

<style style lang="css" scoped src="../assets/css/BadgeFilters.css">
</style>

<style scoped>
.fadoverlay-enter {
  opacity: 0;
}

.fadoverlay-enter-active {
  transition: opacity 0.5s;
}

.fadoverlay-enter-to {
  opacity: 1;
}

.fadoverlay-leave {
  opacity: 1;
}

.fadoverlay-leave-to {
  opacity: 0;
}

.fadoverlay-leave-active {
  transition: opacity 0.5s;
}
</style>